* {
    margin: 0; 
    padding: 0;
    outline: 0;
    border-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
    font: inherit;   
}

html, body {
    height: 100;
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", "sans-serif", Arial, sans-serif;
    line-height: 1.4;
    background-color: #1B1B42;
}

main {
    color: #fff;
    height: 100vh;
    display: grid;
    place-items: center;
    font-size: 30px;
}